.square {
  height: 50px;
  width: 50px;
  background: lightgray;
  border: 1px solid black;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 250ms ease;
}

.square:hover {
  background: lightskyblue;
}
